@font-face { /* Définition d'une nouvelle police nommée LearningCurveProRegular */
    font-family: 'learningcurvepro_regular_french';
    src: url('web_font/learningcurvepro_regular_french/LearningCurve_OT-webfont.eot');
    src: url('web_font/learningcurvepro_regular_french/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('web_font/learningcurvepro_regular_french/LearningCurve_OT-webfont.woff') format('woff'),
         url('web_font/learningcurvedpro_regular_french/LearningCurve_OT-webfont.ttf') format('truetype'),
         url('web_font/learningcurvepro_regular_french/LearningCurve_OT-webfont.svg#LearningCurveProRegular') format('svg');
         font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'wcmanonegrabta_regular_macroman';
	 src: url('web_font/wcmanonegrabta_regular_macroman/WCManoNegraBta-webfont.eot');
    src: url('web_font/wcmanonegrabta_regular_macroman/WCManoNegraBta-webfont.eot?#iefix') format('embedded-opentype'),
         url('web_font/wcmanonegrabta_regular_macroman/WCManoNegraBta-webfont.woff') format('woff'),
         url('web_font/wcmanonegrabta_regular_macroman/WCManoNegraBta-webfont.ttf') format('truetype'),
         url('web_font/wcmanonegrabta_regular_macroman/WCManoNegraBta-webfont.svg#wc_mano_negra_btaregular') format('svg');
         font-weight: normal;
         font-style: normal;
}
@font-face {
    font-family: 'komika_axisregular';
    src: url('web_font/komikaaxis_regular_macroman/KOMIKAX_-webfont.eot');
    src: url('web_font/komikaaxis_regular_macroman/KOMIKAX_-webfont.eot?#iefix') format('embedded-opentype'),
         url('web_font/komikaaxis_regular_macroman/KOMIKAX_-webfont.woff') format('woff'),
         url('web_font/komikaaxis_regular_macroman/KOMIKAX_-webfont.ttf') format('truetype'),
         url('web_font/komikaaxis_regular_macroman/KOMIKAX_-webfont.svg#komika_axisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('web_font/OpenSans-SemiboldItalic-webfont.eot');
    src: url('web_font/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('web_font/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('web_font/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('web_font/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SansitaOne';
    src: url('web_font/SansitaOne.ttf');
}
 #bloc_page {
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
    margin: auto;
}   
header {
    display: inline-block; 
    width: 100%;
    margin: auto;       
}   
.citation {
    color: #fe9a2e;
    font-size: 0.7em;
}
* {
  webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          -box-sizing: border-box;
}
nav {
    display: flex;  
    width: 100%;
    vertical-align: center;
    justify-content: space-around;
}
nav a {
    display: inline-block;
    text-align: center; 
    width: 20%;
    list-style-type: none;
    padding: 6px 0px 8px 0px;
    word-wrap: break-word;
    font-size: 1.2em;
    font-family: 'open_sanssemibold_italic', Arial, Verdana, sans-serif;
    color: #bdbdbc;  
   	text-decoration: none;
    background-color: #424242;
    border: 2px solid burlywood;
    border-radius: 5px;
}
nav a[title="s'y rendre"]:hover { /* survol */
   text-decoration: none;
   color: #ff4000;
}
nav a[title="s'y rendre"]:visited {/*déjà vu */
   text-decoration: none;
   color: #ff4000;
} 
nav a[title="s'y rendre"] {
    color: #ff8000;
    text-decoration: none;
} 
.images {
    display: inline-block;
    position: relative;
    width: 30%;
    height: 30%;
    min-width: 150px;
    min-height: 150px;
}
.name {
    font-size: 3em;
    display: inline-block;
    border-style:none;
    float: right;
    width: 70%;
    margin-top: 20%;
    padding-right: 35%;
}
section {
    display: inline-block;
    margin-left: 10px;
    vertical-align:top;
    width: 100%;
}
section h2, footer h2 {
    font-weight: bold;
}
article {
    text-align: left;
    background-color: f2f2f2;
    width: 100%;
    margin-right: auto; 
}   
h1 {
	color: #424242;
    font-family: 'komika_axisregular' ,Garamond, "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5em;
    text-align:center;
}
h2 {
	color: #424242;
    width: 100%;
	text-align: center;
	font-family: 'komika_axisregular', Garamond, "Arial", sans-serif;
	font-size: 1.5em;
	background-color: #ff8000;
}
h3 {
    color: #fe9a2e;
	text-align: center;
	font-family: 'komika_axisregular', Garamond, "Arial", sans-serif;
	font-size: 1.5em;
}	
article
{
    text-align: left;
    background-color: #f2f2f2;
    width: 100%;
    margin-right: auto; 
}   
article p {
    width: 70%;
    font-size: 1.2em;
    color: #414D40;
    font-family: 'SansitaOne', 'wcmanonegrabta_regular_macroman', "Arial", serif;
    display: inline-block;
    float: right;
    position: relative;
    overflow: auto;
	word-wrap: break-word;
    height: 70%;
	padding-left: 20px;
	padding-right: 0px;
	margin: auto;
}
.famille {
    background-image: url(images/building-with-history.jpg);
} 
.collection {
    background-image: url(images/bertoia.jpg);     
}
p a {
	margin-right: 0px;
}     
a[title="en savoir plus"]:hover { /* survol */
   text-decoration: none;
   color: #ff4000;
}
a[title="en savoir plus"]:visited {/*déjà vu */
   text-decoration: none;
   color: #ff80000;
} 
a[title="en savoir plus"] {
    color: #ff800;
    text-decoration: none;
} 
.imageflottante {
   width: 20%;
   float: right;    
   margin-right: 8px;
   margin-left: 8px; 
}
footer {
	margin-left: 14px;
	border: 2px solid #424242;
	border-radius: 5px;
	background-color: #424242;
}
footer p {
	font-family: 'wcmanonegrabta_regular_macroman', Courier, serif;
	color: white;
    font-size: 1.5em; 
	text-align: right;
    margin-left: 10px;
    margin-right: 10px;
    padding:8px;
}
footer a{
	text-decoration: none;
	color: white;
	font-family: 'wcmanonegrabta_regular_macroman', Courier, serif;
	font-size: 1.5em;
}
footer p a:hover {
	text-decoration: none;
	color: #6e6e6e;
}
#pied_de_page {
    text-decoration: none;
    color: white;
    font-family: 'wcmanonegrabta_regular_macroman', Courier, serif;
    font-size: 1.5em;

}
em {
    font-style: normal;
    font-weight: bold;
}   
h1,h2,section {
    width: auto; 
    padding: 12px;
    margin-bottom: 20px;
}    
@media all and (max-width:1024px)
	